*{
    font-family: arial;
    color: rgb(237, 145, 39);
}

body{
    margin: 0;
    padding: 0;
}

.topo{
    border-radius: 5px;
    height: 50px;
    background-color: #6976ed;
}

.interior{
    width: 80%;
    margin: auto;
}

.logomarca{
    float:left;
    line-height: 50px;
    font-size: 40px;
    color: rgb(217, 143, 63);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

.menu{

    float: right;
}

.menu ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    text-decoration-line: none;
}

li{
    float: right;
    padding: 0 10px;
    line-height: 50px;
    font-size: 14px;
    font-style: italic;
    text-decoration: none;
    color: rgb(244, 149, 80);
}
.banner{
    height: 300px;
    color: #d5a805;
}

